@model SharePointPnP.ProvisioningApp.Infrastructure.DomainModel.Provisioning.ProvisioningActionModel
@using SharePointPnP.ProvisioningApp.WebApp.Models

@functions {
    public IEnumerable<SelectListItem> GetAvailableThemes()
    {
        var themes = (from t in Model.Themes
                      select new SelectListItem
                      {
                          Text = t,
                          Value = t,
                          Selected = (Model.SelectedTheme == t)
                      }).ToList();
        themes.Insert(0, new SelectListItem
        {
            Text = "(Select a Theme)",
            Value = "********",
            Selected = String.IsNullOrEmpty(Model.SelectedTheme)
        });

        return (themes);
    }
}

<section class="header-img">
    <div class="header-img-inner"></div>
</section>
<section class="pnp-hero">
    <div class="pnp-hero-inner">
        <div class="pnp-hero-title">
            <h1 class="pnp-hero-head">Provisioning<br>Service</h1>
            <div class="pnp-hero-subtl">
                See the possibilities<br>
                Deploy &gt; Test
            </div>
        </div>
    </div>
</section>

<!-- Inner Content Wrapper -->
<div class="wrapper">
    <div class="wrapper-inner">
        <div class="wrapper-inner">
            <div class="pnp-svcteaser">
                <div class="pnp-svcteaser-inner">
                    @(Html.Raw(Model.ProvisionDescription))
                    @if (!String.IsNullOrEmpty(Model.Instructions))
                    {
                        <hr />
                        @(Html.Raw(Model.Instructions))
                    }
                </div>
            </div>
            <div class="pnp-form">
                <div class="pnp-svcteaser-inner">
                    @using (Html.BeginForm("Provision", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.PackageId)
                        @Html.HiddenFor(m => m.TenantId)
                        @Html.HiddenFor(m => m.UserPrincipalName)
                        @Html.HiddenFor(m => m.ActionType)
                        @Html.HiddenFor(m => m.DisplayName)
                        @Html.HiddenFor(m => m.MetadataPropertiesJson)
                        @Html.HiddenFor(m => m.UserIsTenantAdmin)
                        @Html.HiddenFor(m => m.UserIsSPOAdmin)

                        <table>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => m.NotificationEmail)
                                    <div class="pnp-field-description">Provide an email address to get notifications about the provisioning process</div>
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.NotificationEmail, new { @class = "pnp-tb" })
                                </td>
                            </tr>
                            @if (Model.PackageProperties != null && Model.PackageProperties.Count > 0)
                            {
                                @*<tr>
                                        <td colspan="2">
                                            <div class="sectionTitle">Template Properties</div>
                                            <div class="sectionTitleDivider"><hr class="sectionTitleDivider" /></div>
                                        </td>
                                    </tr>*@
                            }
                            @{
                                int i = 0;
                                foreach (var parameter in Model.PackageProperties)
                                {
                                    if (Model.MetadataProperties.ContainsKey(parameter.Key))
                                    {
                                        <tr>
                                            <th>
                                                <input type="hidden" name="PackageProperties[@i].Key" value="@parameter.Key" />
                                                <label class="ms-Label pnp-field-label" for="PackageProperties[@i].Key">@(Model.MetadataProperties[parameter.Key].Caption)</label>
                                                <div class="pnp-field-description">@(Model.MetadataProperties[parameter.Key].Description)</div>
                                            </th>
                                            <td>
                                                @if (String.IsNullOrEmpty(Model.MetadataProperties[parameter.Key].Editor))
                                                {
                                                    <input name="PackageProperties[@i].Value" value="@parameter.Value" class="pnp-tb" />
                                                }
                                                else
                                                {
                                                    @Html.Partial($"EditorTemplates/{Model.MetadataProperties[parameter.Key].Editor}", new TemplateParameterModel { Index = i, ParameterKey = parameter.Key, ParameterValue = parameter.Value, MetadataProperty = Model.MetadataProperties[parameter.Key] })
                                                }
                                            </td>
                                        </tr>
                                    }

                                    i++;
                                }
                            }

                            @if (Model.UserIsTenantAdmin || Model.UserIsSPOAdmin)
                            {
                                @*<tr>
                                        <td colspan="2">
                                            <div class="sectionTitle">Custom Theme Settings</div>
                                            <div class="sectionTitleDivider"><hr class="sectionTitleDivider" /></div>
                                        </td>
                                    </tr>*@
                                <tr>
                                    <th>
                                        Apply theme
                                        <div class="pnp-field-description">Enable this flag to apply a Theme to the target sites</div>
                                    </th>
                                    <td>
                                        @Html.EditorFor(m => m.ApplyTheme)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => m.SelectedTheme)
                                        <div class="pnp-field-description">Select an already existing Theme</div>
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(m => m.SelectedTheme, GetAvailableThemes(), new { @class = "pnp-tb" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Apply custom theme
                                        <div class="pnp-field-description">Enable this flag to create and apply a custom Theme</div>
                                    </th>
                                    <td>
                                        @Html.EditorFor(m => m.ApplyCustomTheme)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => m.ThemePrimaryColor)
                                        <div class="pnp-field-description">Select the Primary Color for the custom Theme</div>
                                    </th>
                                    <td>
                                        <span class="pnp-colorpreview" rel="@Html.IdFor(m => m.ThemePrimaryColor)"></span>
                                        @Html.TextBoxFor(m => m.ThemePrimaryColor, new { @class = "pnp-tb" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => m.ThemeBodyTextColor)
                                        <div class="pnp-field-description">Select the Body Text Color for the custom Theme</div>
                                    </th>
                                    <td>
                                        <span class="pnp-colorpreview" rel="@Html.IdFor(m => m.ThemeBodyTextColor)"></span>
                                        @Html.TextBoxFor(m => m.ThemeBodyTextColor, new { @class = "pnp-tb" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => m.ThemeBodyBackgroundColor)
                                        <div class="pnp-field-description">Select the Body Background Color for the custom Theme</div>
                                    </th>
                                    <td>
                                        <span class="pnp-colorpreview" rel="@Html.IdFor(m => m.ThemeBodyBackgroundColor)"></span>
                                        @Html.TextBoxFor(m => m.ThemeBodyBackgroundColor, new { @class = "pnp-tb" })
                                    </td>
                                </tr>
                                @*
                                    <tr>
                                        <th>
                                            <label for="CustomLogoFile">Logo</label>
                                        </th>
                                        <td>
                                            <input type="file" name="CustomLogoFile" id="CustomLogoFile" class="pnp-tb" />
                                        </td>
                                    </tr>
                                *@
                            }
                            @*<tr>
                                    <td colspan="2">
                                        <div class="sectionTitleDivider"><hr class="sectionTitleDivider" /></div>
                                    </td>
                                </tr>*@
                            <tr>
                                <td>
                                    <input type="button" id="cancelButton" class="pnp-btn-provision" value="Cancel" />
                                </td>
                                <td>
                                    <input type="button" id="provisionButton" class="pnp-btn-provision ms-Button--primary" value="Provision" />
                                </td>
                            </tr>

                        </table>
                    }
                    </
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmationDialog" class="confirmationDialog hide">
    <div class="confirmationDialogContent">
        @(Html.Raw(Model.ProvisionRecap))
    </div>
    <br />
    <input type="button" id="cancelDialog" class="pnp-btn-provision" value="Cancel" />
    <input type="button" id="confirmDialog" class="pnp-btn-provision ms-Button--primary" value="Confirm" />
</div>

<div id="checkingSiteDialog" class="checkingSiteDialog hide">
    <div class="checkingSiteDialogContent">
        <img width="32" height="32" src="data:image/gif;base64,R0lGODlhEAAQAIAAAFLOQv///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgABACwJAAIAAgACAAACAoRRACH5BAUKAAEALAwABQACAAIAAAIChFEAIfkEBQoAAQAsDAAJAAIAAgAAAgKEUQAh+QQFCgABACwJAAwAAgACAAACAoRRACH5BAUKAAEALAUADAACAAIAAAIChFEAIfkEBQoAAQAsAgAJAAIAAgAAAgKEUQAh+QQFCgABACwCAAUAAgACAAACAoRRACH5BAkKAAEALAIAAgAMAAwAAAINjAFne8kPo5y02ouzLQAh+QQJCgABACwCAAIADAAMAAACF4wBphvID1uCyNEZM7Ov4v1p0hGOZlAAACH5BAkKAAEALAIAAgAMAAwAAAIUjAGmG8gPW4qS2rscRPp1rH3H1BUAIfkECQoAAQAsAgACAAkADAAAAhGMAaaX64peiLJa6rCVFHdQAAAh+QQJCgABACwCAAIABQAMAAACDYwBFqiX3mJjUM63QAEAIfkECQoAAQAsAgACAAUACQAAAgqMARaol95iY9AUACH5BAkKAAEALAIAAgAFAAUAAAIHjAEWqJeuCgAh+QQJCgABACwFAAIAAgACAAACAoRRADs=" />
        <span>&nbsp;Validating site URL...</span>
    </div>
</div>

<div id="siteExistsDialog" class="siteExistsDialog hide">
    <h2>Site URL already in use</h2>
    <div class="siteExistsDialogContent">
        The URL provided is already in use. If you will proceed, the template will be applied
        on top of the already existing site and its contents might be replaced.
    </div>
    <input type="button" id="okDialog" class="pnp-btn-provision okDialog" value="Confirm" />
</div>

<div id="dialogOverlay" class="dialogModalOverlay hide">
</div>

@section scripts
{
    <!-- build:js scripts/main.js -->
    <script src="/app/scripts/main.js"></script>
    <!-- endbuild -->

    <script>

        // defines whether the field is disabled or not
        function fieldIsDisabled(field) {
            return (field.hasAttribute('disabled'));
        }

        // disables a field
        function disableField(field) {
            if (field) {
                if (!fieldIsDisabled(field)) {
                    field.setAttribute('disabled', '');
                    // cleanup any validation exception
                    if (field.classList.contains("invalid")) {
                        field.classList.toggle("invalid");
                    }
                }
            }
        }

        // enables a field
        function enableField(field) {
            if (field) {
                if (fieldIsDisabled(field)) {
                    field.removeAttribute('disabled');
                }
            }
        }

        // toggles the enabled/disabled status of a field
        function toggleFieldStatus(field) {
            if (field) {
                if (!fieldIsDisabled(field)) {
                    disableField(field);
                }
                else {
                    enableField(field);
                }
            }
        }

        function getFieldValue(field) {
            if (field) {
                return (field.value);
            }
            else {
                return ('');
            }
        }

        // determines whether a URL starts with /sites/ or /teams/
        function urlIsValidForSPO(url) {
            // the URL has to be something like /sites/* or /teams/*
            return (url.length > 7 &&
                    (url.substring(0, 7) == '/sites/' ||
                    url.substring(0, 7) == '/teams/'));
        }

        function urlIsAvailableInSPO(url) {
            fetch('../home/urlIsAvailableInSPO?url=' + encodeURI(url), {
                method: 'get'
            })
                .then(response => {
                    return (response.json());
                })
                .then(data => {
                    if (data.result != true) {
                        var checkingSiteDialog = document.getElementById('checkingSiteDialog');
                        var siteExistsDialog = document.getElementById('siteExistsDialog');
                        var dialogOverlay = document.getElementById('dialogOverlay');
                        if (siteExistsDialog && siteExistsDialog.classList.contains('hide') &&
                            dialogOverlay && checkingSiteDialog) {
                            siteExistsDialog.classList.toggle('hide');
                            siteExistsDialog.classList.toggle('show');
                            if (dialogOverlay.classList.contains('hide')) {
                                dialogOverlay.classList.toggle('hide');
                                dialogOverlay.classList.toggle('show');
                            }
                            if (!checkingSiteDialog.classList.contains('hide')) {
                                checkingSiteDialog.classList.toggle('hide');
                                checkingSiteDialog.classList.toggle('show');
                            }
                        }
                    }
                    else {
                        var checkingSiteDialog = document.getElementById('checkingSiteDialog');
                        var dialogOverlay = document.getElementById('dialogOverlay');
                        if (checkingSiteDialog && checkingSiteDialog.classList.contains('show')) {
                            checkingSiteDialog.classList.toggle('hide');
                            checkingSiteDialog.classList.toggle('show');
                        }
                        if (dialogOverlay && dialogOverlay.classList.contains('show')) {
                            dialogOverlay.classList.toggle('hide');
                            dialogOverlay.classList.toggle('show');
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {

            var siteUrlControls = document.getElementsByClassName('siteUrl');
            if (siteUrlControls != null && siteUrlControls.length > 0) {
                for (var i = 0; i < siteUrlControls.length; i++) {
                    siteUrlControls[i].addEventListener('keyup', function (e) {
                        if (urlIsValidForSPO(e.target.value)) {
                            // remove the validation exception, if any
                            if (e.target.classList.contains("invalid")) {
                                e.target.classList.toggle("invalid");
                            }
                        }
                        else {
                            // add the validation exception
                            if (!e.target.classList.contains("invalid")) {
                                e.target.classList.toggle("invalid");
                            }
                        }
                    });
                    siteUrlControls[i].addEventListener('focusout', function (e) {
                        if (urlIsValidForSPO(e.target.value)) {
                            // remove the validation exception, if any
                            if (e.target.classList.contains("invalid")) {
                                e.target.classList.toggle("invalid");
                            }

                            var checkingSiteDialog = document.getElementById('checkingSiteDialog');
                            var dialogOverlay = document.getElementById('dialogOverlay');
                            if (checkingSiteDialog && checkingSiteDialog.classList.contains('hide') &&
                                dialogOverlay && dialogOverlay.classList.contains('hide')) {
                                checkingSiteDialog.classList.toggle('hide');
                                checkingSiteDialog.classList.toggle('show');
                                dialogOverlay.classList.toggle('hide');
                                dialogOverlay.classList.toggle('show');
                            }
                            // check if the URL is available
                            urlIsAvailableInSPO(e.target.value);
                        }
                        else {
                            // add the validation exception
                            if (!e.target.classList.contains("invalid")) {
                                e.target.classList.toggle("invalid");
                            }
                        }

                    });
                }
            }

            // cleanup any validation exception if keypress happens on the target field
            var formFields = document.getElementsByClassName('pnp-tb');
            for (var i = 0; i < formFields.length; i++) {
                formFields[i].addEventListener('keypress', function (e) {
                    if (e.target &&
                        !e.target.classList.contains('siteUrl') &&
                        e.target.value != '') {
                        if (e.target.classList.contains("invalid")) {
                            e.target.classList.toggle("invalid");
                        }
                    }
                });
            }

            // set initial state for Theme fields
            var selectedTheme = document.getElementsByName('@Html.IdFor(m => m.SelectedTheme)');
            if (selectedTheme && selectedTheme.length > 0) {
                disableField(selectedTheme[0]);
            }
            var toggleApplyCustomTheme = document.getElementById('@(Html.IdFor(m => m.ApplyCustomTheme))Div');
            if (toggleApplyCustomTheme) {
                disableToggle(toggleApplyCustomTheme);
            }
            var themePrimaryColor = document.getElementsByName('@Html.IdFor(m => m.ThemePrimaryColor)');
            if (themePrimaryColor && themePrimaryColor.length > 0) {
                disableField(themePrimaryColor[0]);
            }
            var themeBodyTextColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyTextColor)');
            if (themeBodyTextColor && themeBodyTextColor.length > 0) {
                disableField(themeBodyTextColor[0]);
            }
            var themeBodyBackgroundColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyBackgroundColor)');
            if (themeBodyBackgroundColor && themeBodyBackgroundColor.length > 0) {
                disableField(themeBodyBackgroundColor[0]);
            }

            // handles the click event of the provisionButton
            var provisionButton = document.getElementById('provisionButton');
            if (provisionButton) {
                provisionButton.addEventListener('click', function (e) {

                    // stop event propagation
                    e.stopPropagation();

                    // initial validation status (OK)
                    var isValid = true;

                    // check the toggles statuses
                    var toggleApplyTheme = document.getElementById('@(Html.IdFor(m => m.ApplyTheme))Div');
                    var toggleApplyCustomTheme = document.getElementById('@(Html.IdFor(m => m.ApplyCustomTheme))Div');

                    // if we have the toggles ...
                    if (toggleApplyTheme && toggleApplyCustomTheme) {

                        var applyThemeFlag = toggleIsSelected(toggleApplyTheme);
                        var applyCustomThemeFlag = toggleIsSelected(toggleApplyCustomTheme);

                        // if there isn't any Theme (custom or existing), we can proceed
                        if (applyThemeFlag) {

                            // if there is a custom theme and the custom theme name is missing
                            // we have a validation exception and we skip submitting the form
                            if (isValid) {
                                if (applyCustomThemeFlag) {

                                    // get the fields for the custom theme
                                    var themePrimaryColor = document.getElementsByName('@Html.IdFor(m => m.ThemePrimaryColor)')[0];
                                    var themeBodyBackgroundColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyBackgroundColor)')[0];
                                    var themeBodyTextColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyTextColor)')[0];

                                    // cleanup validation exceptions
                                    if (themePrimaryColor.classList.contains("invalid")) {
                                        themePrimaryColor.classList.toggle("invalid");
                                    }
                                    if (themeBodyBackgroundColor.classList.contains("invalid")) {
                                        themeBodyBackgroundColor.classList.toggle("invalid");
                                    }
                                    if (themeBodyTextColor.classList.contains("invalid")) {
                                        themeBodyTextColor.classList.toggle("invalid");
                                    }

                                    // check the Theme Primary Color
                                    if (getFieldValue(themePrimaryColor) == '') {
                                        if (!themePrimaryColor.classList.contains("invalid")) {
                                            themePrimaryColor.classList.toggle("invalid");
                                        }
                                        isValid = false;
                                    }

                                    // check the Theme Body Background Color
                                    if (getFieldValue(themeBodyBackgroundColor) == '') {
                                        if (!themeBodyBackgroundColor.classList.contains("invalid")) {
                                            themeBodyBackgroundColor.classList.toggle("invalid");
                                        }
                                        isValid = false;
                                    }

                                    // check the Theme Body Text Color
                                    if (getFieldValue(themeBodyTextColor) == '') {
                                        if (!themeBodyTextColor.classList.contains("invalid")) {
                                            themeBodyTextColor.classList.toggle("invalid");
                                        }
                                        isValid = false;
                                    }
                                }
                            }

                            // if there isn't a custom theme and there isn't a currently existing Theme selected
                            // we have a validation exception and we skip submitting the form, too
                            if (isValid && !applyCustomThemeFlag) {

                                var selectedTheme = document.getElementsByName('@Html.IdFor(m => m.SelectedTheme)')[0];

                                // cleanup validation exceptions
                                if (selectedTheme.classList.contains("invalid")) {
                                    selectedTheme.classList.toggle("invalid");
                                }

                                // check the Selected Theme
                                if (getFieldValue(selectedTheme) == '********') {
                                    if (!selectedTheme.classList.contains("invalid")) {
                                        selectedTheme.classList.toggle("invalid");
                                    }
                                    isValid = false;
                                }
                            }
                        }
                    }

                    if (isValid) {
                        var confirmationDialog = document.getElementById('confirmationDialog');
                        var dialogOverlay = document.getElementById('dialogOverlay');
                        if (confirmationDialog && confirmationDialog.classList.contains("hide") &&
                            dialogOverlay && dialogOverlay.classList.contains("hide")) {
                            confirmationDialog.classList.toggle("hide");
                            confirmationDialog.classList.toggle("show");
                            dialogOverlay.classList.toggle("hide");
                            dialogOverlay.classList.toggle("show");
                        }
                    }

                    return (false);
                });
            }

            // handles the click event of the cancelButton
            var cancelButton = document.getElementById('cancelButton');
            if (cancelButton) {
                cancelButton.addEventListener('click', function (e) {
                    // redirects the browser to the home page of the Provisioning Service
                    e.stopPropagation();
                    location.href = "/";
                    return (false);
                });
            }

            // handles the click event of the confirmDialog button
            var confirmDialogButton = document.getElementById('confirmDialog');
            if (confirmDialogButton) {
                confirmDialogButton.addEventListener('click', function (e) {
                    document.forms[0].submit();
                });
            }

            // handles the click event of the cancelDialog button
            var cancelDialogButton = document.getElementById('cancelDialog');
            if (cancelDialogButton) {
                cancelDialogButton.addEventListener('click', function (e) {
                    var confirmationDialog = document.getElementById('confirmationDialog');
                    var dialogOverlay = document.getElementById('dialogOverlay');
                    if (confirmationDialog && confirmationDialog.classList.contains("show") &&
                        dialogOverlay && dialogOverlay.classList.contains("show")) {
                        confirmationDialog.classList.toggle("show");
                        confirmationDialog.classList.toggle("hide");
                        dialogOverlay.classList.toggle("hide");
                        dialogOverlay.classList.toggle("show");
                    }
                });
            }

            // handles the click event of the okDialogButton button
            var okDialogButton = document.getElementById('okDialog');
            if (okDialogButton) {
                okDialogButton.addEventListener('click', function (e) {
                    var siteExistsDialog = document.getElementById('siteExistsDialog');
                    var dialogOverlay = document.getElementById('dialogOverlay');
                    if (siteExistsDialog && siteExistsDialog.classList.contains("show") &&
                        dialogOverlay && dialogOverlay.classList.contains("show")) {
                        siteExistsDialog.classList.toggle("show");
                        siteExistsDialog.classList.toggle("hide");
                        dialogOverlay.classList.toggle("hide");
                        dialogOverlay.classList.toggle("show");
                    }
                });
            }

            // handles the toggle event of the ApplyTheme toggle control
            var toggleApplyTheme = document.getElementById('@(Html.IdFor(m => m.ApplyTheme))Div');
            if (toggleApplyTheme) {
                toggleApplyTheme.addEventListener('toggleClicked', function (e) {

                    // get a reference to the Theme fields
                    var selectedTheme = document.getElementsByName('@Html.IdFor(m => m.SelectedTheme)')[0];
                    var toggleApplyCustomTheme = document.getElementById('@(Html.IdFor(m => m.ApplyCustomTheme))Div');
                    var themePrimaryColor = document.getElementsByName('@Html.IdFor(m => m.ThemePrimaryColor)')[0];
                    var themeBodyTextColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyTextColor)')[0];
                    var themeBodyBackgroundColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyBackgroundColor)')[0];

                    // if the Apply Theme toggle is enabled
                    if (toggleIsSelected(e.target)) {
                        // set Theme fields state accordingly
                        enableField(selectedTheme);
                        enableToggle(toggleApplyCustomTheme);
                        disableField(themePrimaryColor);
                        disableField(themeBodyTextColor);
                        disableField(themeBodyBackgroundColor);
                    }
                    else {
                        // set Theme fields state accordingly
                        disableField(selectedTheme);
                        if (toggleIsSelected(toggleApplyCustomTheme)) {
                            toggleState(toggleApplyCustomTheme, false);
                        }
                        disableToggle(toggleApplyCustomTheme);
                        disableField(themePrimaryColor);
                        disableField(themeBodyTextColor);
                        disableField(themeBodyBackgroundColor);
                    }
                });
            }

            var toggleApplyCustomTheme = document.getElementById('@(Html.IdFor(m => m.ApplyCustomTheme))Div');
            if (toggleApplyCustomTheme) {
                toggleApplyCustomTheme.addEventListener('toggleClicked', function (e) {

                    // get a reference to the Theme fields
                    var selectedTheme = document.getElementsByName('@Html.IdFor(m => m.SelectedTheme)')[0];
                    var toggleApplyCustomTheme = document.getElementById('@(Html.IdFor(m => m.ApplyCustomTheme))Div');
                    var themePrimaryColor = document.getElementsByName('@Html.IdFor(m => m.ThemePrimaryColor)')[0];
                    var themeBodyTextColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyTextColor)')[0];
                    var themeBodyBackgroundColor = document.getElementsByName('@Html.IdFor(m => m.ThemeBodyBackgroundColor)')[0];

                    // if the Apply Theme toggle is enabled
                    if (toggleIsSelected(e.target)) {
                        // set Theme fields state accordingly
                        disableField(selectedTheme);
                        enableField(themePrimaryColor);
                        enableField(themeBodyTextColor);
                        enableField(themeBodyBackgroundColor);
                    }
                    else {
                        // set Theme fields state accordingly
                        enableField(selectedTheme);
                        disableField(themePrimaryColor);
                        disableField(themeBodyTextColor);
                        disableField(themeBodyBackgroundColor);
                    }
                });
            }
        });

    </script>
}

<img src="https://telemetry.sharepointpnp.com/provisioning-service/provisioning-page" />

